<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="codename" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="codename" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="codename" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="codename" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fhellow</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css"> -->
    <!--  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
    <!--<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- LIBRARIES STYLES -->
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-growl-v2/build/angular-growl.min.css">
    
    <!-- APP STYLES -->
    <link rel="stylesheet" type="text/css" href="app/styles/app.css"> 
    <link rel="apple-touch-icon" href="appleicon.png">
    
    <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.css">


    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body ng-controller="MainCtrl">


    <div growl></div>

    <!-- APP MAIN NAVIGATION -->

    <div ng-controller="NavigationController" ng-if="navStatus == 'show'" >
        <div ng-include="'app/views/nav.html'" > </div>
    </div>

    <!-- APP NG-VIEW -->
    <div class="screen {{pageClass}}" ng-view  > </div>

    <!-- FOOTER -->
    <footer id="global-footer" ng-if="navStatus == 'show'">
        <nav >
            <ul id="nav-footer">
                <li class="nav-item">
                    <a href class="nav-item-link">About us</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-item-link">Team</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-item-link">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-item-link">Terms & Condition</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-item-link">Feedback</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-item-link">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="legal">
            © Copyright Fhellow LTD 2015
        </div>
    </footer>
    <!--
    <div id="chat" ng-show="auth_token">
        <div id="chat-title">
           User Name
           <div id="chat-title-options">
               <a href><i class="fa fa-times"></i></a>
           </div>
        </div>
        <div id="chat-history">
            <div class="chat-message">
                Hi
            </div>
            <div class="chat-message own-message">
                Hello
            </div>
            <div class="chat-message">
                Hi
            </div>
            <div class="chat-message own-message">
                Find fellow freelancers, location independant entrepreneurs and digital nomads working around you. 
            </div>
            <div class="chat-message">
                Discuss ideas, share experiences, swap advice, collaborate and start building your own work community.
            </div>
            <div class="chat-message own-message">
                We are an empowered new workforce that celebrates flexible and independent work over the usual 9-5 in an flurescent lit office. We are the new workforce, and Fhellow is here to help you create your new work community.
            </div>
        </div>
        <div id="chat-field">
            <form>
                <input type="text">
                <button id="send-button">Send</button>
            </form>
        </div>
    </div>-->

    <!-- APP SCRIPTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angularjs-file-upload/ng-file-upload-all.min.js"></script> 
    <script src="bower_components/angularjs-file-upload/ng-file-upload-shim.min.js"></script> 
    <script src="bower_components/satellizer/satellizer.min.js"></script>
    <script src="bower_components/FileAPI/dist/FileAPI.min.js"></script> 
    <script src="bower_components/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    
    <!-- Google Maps API -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDk_iQ6QWOTHW-TWoXSFLwbcnhaxlcnXXk&libraries=places&sensor=true"></script>
    
    <!--script src="bower_components/locator/dist/locator.min.js"></script>
    <script src="bower_components/locator/dist/locator-tpl.js"></script-->
    
    
    
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <!-- Modules --> 
    <script type="text/javascript" src="app/modules/locator/locator-module.js"></script>
    <!-- APP JS -->
    <script type="text/javascript" src="app/app.js"></script>
    
    <!-- SERVICES -->
    
    <script type="text/javascript" src="app/services/usersFactory.js"></script>
    <script type="text/javascript" src="app/services/queriesFactory.js"></script>
    <script type="text/javascript" src="app/services/socketsFactory.js"></script>
    <script type="text/javascript" src="app/services/interestsFactory.js"></script>
    <script type="text/javascript" src="app/services/chatFactory.js"></script>
    
    <script type="text/javascript" src="app/services/transformRequestToFormFactory.js"></script>
    <script type="text/javascript" src="app/modules/locator/location-picker/services/location.js"></script>
    <script type="text/javascript" src="app/modules/locator/location-picker/services/reverse-geocoder.js"></script>

    <!-- CONTROLLERS -->
    <script type="text/javascript" src="app/controllers/mainController.js"></script>
    <script type="text/javascript" src="app/controllers/navController.js"></script>
    <script type="text/javascript" src="app/controllers/homeController.js"></script>
    <script type="text/javascript" src="app/controllers/messagesController.js"></script>
    
    <script type="text/javascript" src="app/controllers/profileController.js"></script>
    <script type="text/javascript" src="app/controllers/publicProfileController.js"></script>
    <script type="text/javascript" src="app/controllers/localFhellowsController.js"></script>
    
    <!-- DIRECTIVES -->
    <script type="text/javascript" src="app/directives/vCompare.js"></script>
    <script type="text/javascript" src="app/modules/locator/location-picker/directives/location-picker.js"></script>
    <script type="text/javascript" src="app/modules/locator/location-lookup/directives/location-lookup-directive.js"></script>
    <script type="text/javascript" src="app/modules/locator/location-lookup/directives/location-predictions-directive.js"></script>
    
    

</body>
</html>