
 <section class="sub-screen vertical dark" id="invite-home">
      <div class="wrapper">
       <div class="container big">
         <div class="invite-home-text" ng-if="!inviteStatus">
             <h1>
                 Find  and connect with fellow Freelancers, Entrepreneurs and Digital Nomads working nearby and around the world.
             </h1>
             <h2>
                  Chat, discuss ideas, share advice, swap stories and join the community.
             </h2>
         </div>
         
         <div class="invite-home-text" ng-if="inviteStatus">
             <h1>
                Thanks for requesting<br>pre-launch access
             </h1>
             <h2>
                 We’re really excited to share Fhellow with you. We’ll be sending invites out as soon as possible but in the meantime why not follow us on...
             </h2>
             <p>
                 <a href="https://www.facebook.com/fhellow" target="_blank" class="button facebook"> <i class="fa fa-facebook"></i> Follow us on Facebook</a> <a href="https://twitter.com/fhellowapp" target="_blank" class="button twitter"> <i class="fa fa-twitter"></i> Follow us on Twitter</a>
             </p>
         </div>
      </div>    
    </div>
</section>
<section class="sub-screen vertical light"  id="invite-about">
   <div class="wrapper">
       <div class="container big " >
                 <div>
                     <h1>
                         We are a social, independant and proactive bunch who believe in...
                     </h1>
                     <div class="row">
                         <div class="three-col">
                             <div class="about-text">
                                 <h3>Remote working</h3>
                                 <p>We hate offices and want to choose for ourselves which environements inspire and allow us to be most productive.</p>
                             </div>
                         </div>
                         <div class="three-col">
                             <div class="about-text">
                                 <h3>The empowering impact of technology</h3>
                                 <p>The internet has given us an opportunity to redefine the way we work - we out to explore which methods work best for us.</p>
                             </div>
                         </div>
                         <div class="three-col">
                             <div class="about-text">
                                 <h3>Work putting humans first</h3>
                                 <p>Our wellbeing and health shouldn’t be compromised. We’re in search of a better work/life balance and living life.</p>
                             </div>
                         </div>
                     </div>

                     <div class="row">

                         <div class="three-col">
                             <div class="about-text">
                                 <h3>Supporting each other</h3>
                                 <p>Going independant can be a big step and like all things, big decisions are made easier with support from people who understand.</p>
                             </div>
                         </div>
                         <div class="three-col">
                             <div class="about-text">
                                 <h3>Lorem ipsum</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidut labore et dolore magna aliqua.</p>
                             </div>
                         </div>
                        <div class="three-col">
                             <div class="about-text">
                                 <h3>Lorem ipsum</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidut labore et dolore magna aliqua.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             
        </div>
    </div>
</section>
<section class="sub-screen vertical">
   <div class="wrapper">
       <div class="container big" id="invite-team">
           <div class="team-cards">
               <h1>Created by Fhellows for Fhellows</h1>
               <div id="results" class="list-container">
                   <div class="cards-container"  >

               
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>
                        <div class="fhellow-item" >
                            
                            <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/cover'}}')"> </div>
                            <div class="fhellow-profile">
                                <div class="fhellow-profile-image hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.nickname + '/avatar'}}')">

                                        </div>
                                    </div>
                                </div>
                                <div class="fhellow-profile-image-brd hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="fhellow-info">
                                <div class="fhellow-name">
                                    Team Member
                                </div>
                                <div class="fhellow-type">
                                     Originally from xxxxx
                                </div>
                               
                                
                                <div class="fhellow-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="load-more" style="display:none;">
                        <a href>View More</a>
                    </div>
                </div>
           </div>
       </div>
    </div>
</section>
<section class="sub-screen vertical light" id="invite-contact">
    <div class="wrapper">
        <div class="container">
            <div>
                <h1>Get in touch</h1>
            </div>
            <div class="seven-col col-margin ">
                <form>
                    <div class="control-group ">
                        
                        <div class="control full" >
                            <input type="text" placeholder="Your name">
                        </div>
                         <div class="control full" >
                            <input type="email" placeholder="Your email">
                        </div>
                         <div class="control full" >
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="control full" >
                            <textarea placeholder="Your message" id="" cols="30" rows="7"></textarea>
                        </div>
                        
                         <div class="control full" >
                            <button class="button">Send Message</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="five-col col-margin-left">
                <h3>We’d love to hear from you</h3>
                <p>As you may have gathered we dont have an office, we prefer coffee shops, hotel lobbys and co-working spaces. But out main base is London.</p>
                <p>If you have any questions, would like to meet for coffee or have any feedback / ideas you would like to share with us then please just drop us a message - we’d love to hear from you.</p>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<footer id="global-footer" >
    <nav >
        <ul id="nav-footer">
            <li class="nav-item">
                <a href class="nav-item-link">About us</a>
            </li>
            <li class="nav-item">
                <a href class="nav-item-link">Team</a>
            </li>
            <li class="nav-item">
                <a href class="nav-item-link">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a href class="nav-item-link">Terms & Condition</a>
            </li>
            <li class="nav-item">
                <a href class="nav-item-link">Feedback</a>
            </li>
            <li class="nav-item">
                <a href class="nav-item-link">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="legal">
        © Copyright Fhellow LTD 2015
    </div>
</footer>
       
      