<div id="section-header">
    <div id="header-image">
        <img src="/static/img/find-header.svg" alt="">
    </div>
    <h1>Find Fhellows working around you</h1>
    <h2>Discuss ideas, share experiences and start building your own work community</h2>
</div>

    <div id="filters" class="sticky">
            <div id="filters-container">
                <form>

                    <div class="control" >
                        <input type="text" ng-click="getLocation()" placeholder="My Location" name="filters.location" ng-model="filters.location" class="location-input">
                    </div>

                    <div class="control">
                        <select name="filters.proximity" class="select proximity-select">
                            <option selected disabled>Proximity</option>
                            <option>10 km</option>
                            <option>20 km</option>
                            <option>30 km</option>
                            <option>40 km</option>
                            <option>100 km</option>
                        </select>
                    </div>
                    <div class="control">
                        <select name="filters.type" class="select type-select">
                            <option selected disabled>Type of fhellow</option>
                            <option>Designer</option>
                            <option>Developer</option>
                            <option>Entrepreneur</option>
                            <option>Journalist </option>
                        </select>
                    </div>

                    <div class="control">
                        <input type="search" name="filters.search" ng-model="filters.search"  class="search-input">
                        <input type="submit" value="Search" class="search-button button">
                        <div class="control-help-text">
                            Separate interests with commas
                        </div>
                    </div>

                </form>
            </div>
        </div>
        
        
   <div id="results" class="list-container">
            <h2>New to Fhellow</h2>
            <p ng-hide="fhellowsList.length">There is no result</p>
            <div class="cards-container"  >
               
               
                <div class="fhellow-item" ng-repeat="fhellow in fhellowsList  | filter:filters.search">
                    <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.userId + '/cover'}}')"> </div>
                    <div class="fhellow-profile">
                        <div class="fhellow-profile-image hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.userId + '/avatar'}}')">

                                </div>
                            </div>
                        </div>
                        <div class="fhellow-profile-image-brd hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2">

                                </div>
                            </div>
                        </div>
                        <button class="button">View Profile</button>
                    </div>
                    <div class="fhellow-info">
                        <div class="fhellow-name">
                            {{fhellow.firstname}}  {{fhellow.lastname}}
                        </div>
                        <div class="fhellow-type">
                             {{fhellow.title}}
                        </div>
                        <div class="fhellow-location">
                            {{fhellow.location}}
                        </div>
                        <div class="fhellow-description">
                            {{fhellow.bio}}
                        </div>
                        <div class="fhellow-interests"  ng-hide="fhellow.interests.length == 0">
                          
                            <strong>Interested in:</strong>   
                            <span ng-repeat="interest in fhellow.interests">{{interest}}</span>
                        </div>
                    </div>
                </div>
                


            </div>
            <div class="load-more" style="display:none;">
                <a href>View More</a>
            </div>
        </div>

<!-- HOME 
<div class="container">
    <div class="row">
        <div class="jumbotron clearfix" style="background-color: transparent;" ng-show="!auth_token">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Find Fhellows</h1>
                <h4>Description.</h4>
            </div>

        </div>
        <div class="logged" ng-show="auth_token">
            <div class="col-md-6" >
                <h1 class="no-margin">Codename</h1>
            </div>
            <div class="col-md-6" >
                <p>Description.</p>
            </div>
        </div>
    </div>
    <hr style="border-color:#999;">
    <div class="row" ng-show="!auth_token">
        <div class="col-md-6">
            <a href="#login" class="btn btn-default btn-block" >Log in</a>
        </div>
        <div class="col-md-6">
            <a href="#signup" class="btn btn-primary btn-block" >Sign Up</a>
        </div>
    </div>
    <hr style="border-color:#999;" ng-show="!auth_token">


    <div class="row" >
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading clearfix">
                    <h5 class="pull-left">Top Fhellows</h5>

                    <div ng-cloak class="col-md-3 pull-right">

                        <select ng-cloak ng-show="!auth_token || showAllInterests"  ng-options="opt.name as opt.name for opt in allInterests" name="interest-select" id="interest-select" ng-model="selectInterest.interest" class=" form-control">        
                            <option value="">All </option>

                        </select>

                        <select ng-cloak ng-show="auth_token && !showAllInterests"  ng-options="opt.name as opt.name for opt in interests" name="interest-select" id="interest-select" ng-model="selectInterest.interest" class=" form-control">        
                            <option value="">All my Interests </option>

                        </select>

                    </div>
                    <div class="col-md-3 pull-right" ng-show="auth_token">
                        <div class="checkbox text-right" >
                            <label>
                                <small style="float:left; margin-right:30px;">View All interests</small> <input style="float:right;"  type="checkbox" ng-model="showAllInterests">
                            </label>
                        </div>

                    </div>

                </div>
                <div class="panel-body">
                    <p ng-hide="fhellowsList.length">There is no result</p>
                    <div class="clubscontainer" ng-repeat="fhellow in fhellowsList"> 
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 club-item">
                            <div href="#" class="thumbnail">
                                <div class="img-container">
                                    <img src="{{imagePath}}{{fhellow.image}}" class="img-responsive" alt="">
                                </div>
                                <div class="caption">
                                    <h4 class="no-margin one-line">{{fhellow.name}}</h4>
                                    <p class="one-line" ><small>{{fhellow.location}}</small></p>
                                    <p  ><small>{{fhellow.bio}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <hr style="border-color:#999;">
    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-primary btn-lg  btn-block">find something specific</a>
        </div>
    </div>
    <br/><br/>

</div>


-->