<div id="section-header">
   
        <h1>
            Find Fhellows around 
            <input type="text" class="search-header-input" placeholder="eg: London, EC2A, Shoreditch">
        </h1>
        <h1>
            who are intested in <input type="text"  class="search-header-input" placeholder="eg: design, startups, surfing">
        </h1>
   
</div>

    <div id="filters" class="sticky">
            <div id="filters-container">
                <form>
                    <div class="control-group ">
                        <label>Fhellow type:</label>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersType.freelance}" ng-click="typeButtonPressed('freelance')">Freelance</button>
                        </div>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersType.entrepenuers}" ng-click="typeButtonPressed('entrepenuers')">Entrepenuers</button>
                        </div>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersType.digitalnomads}" ng-click="typeButtonPressed('digitalnomads')">Digital Nomads</button>
                        </div>
                    </div>
                    <div class="control-group ">
                        <label>Fhellows looking to:</label>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersLookingTo.socialise}" ng-click="lookingToButtonPressed('socialise')"><i class="fa fa-coffee"></i> Socialise</button>
                        </div>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersLookingTo.collaborate}" ng-click="lookingToButtonPressed('collaborate')"><i class="fa fa-pencil"></i> Collaborate</button>
                        </div>
                        <div class="control" >
                            <button class="toggle button" ng-class="{'on' : filtersLookingTo.mentor}" ng-click="lookingToButtonPressed('mentor')"><i class="fa fa-graduation-cap"></i> Mentor</button>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>
        
        
   <div id="results" class="list-container">
            <h2>All Fhellows</h2>
            <p ng-hide="fhellowsList.length">There is no result</p>
            <div class="cards-container"  >
               
               
                <div class="fhellow-item" ng-repeat="fhellow in fhellowsList  | filter:filters.search">
                    <div class="fhellow-cover-image" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.userId + '/cover'}}')"> </div>
                    <div class="fhellow-profile">
                        <div class="fhellow-profile-image hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2" style="background-image:url('{{serverUrlFull+ 'rest/public/users/' + fhellow.userId + '/avatar'}}')">

                                </div>
                            </div>
                        </div>
                        <div class="fhellow-profile-image-brd hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2">

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="fhellow-info">
                        <div class="fhellow-name">
                            {{fhellow.firstname}}  {{fhellow.lastname}}
                        </div>
                        <div class="fhellow-type">
                             {{fhellow.title}}
                        </div>
                        <div class="fhellow-location">
                            <strong>From: </strong>{{fhellow.location}} <br/>
                            <strong>Currently in: </strong>{{fhellow.originallyFrom}}
                        </div>
                        <div class="fhellow-description">
                            <strong>Intro: </strong>{{fhellow.bio}}
                        </div>
                        <!--<div class="fhellow-interests"  ng-hide="fhellow.interests.length == 0">
                          
                            <strong>Interested in:</strong>   
                            <span ng-repeat="interest in fhellow.interests">{{interest}}, </span>
                        </div>-->
                    </div>
                    <div class="fhellow-actions">
                       <a href>Have a Chat</a>
                       <a href="#/profile/{{fhellow.userId}}">View Profile</a>
                    </div>
                </div>
                


            </div>
            <div class="load-more" style="display:none;">
                <a href>View More</a>
            </div>
        </div>

