<div class="user-section-title">
    <div class="container">
        <h2>My Messages</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        <div class="left-col">
            <div class="content-block no-margin">
                <div class="content-block-title">
                    Inbox (01)
                </div>
                <div class="content-block-content">
                    <div id="user-messages-inbox">
                        <div class="inbox-message" ng-repeat="conversation in inbox" ng-click="selectConversation(conversation.conversation_id)" ng-class="{active: selectedConversation == conversation.conversation_id}">
                            <div class="user-avatar">
                              <div class="message-user-avatar hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2 " >

                                       </div>
                                   </div>
                               </div>
                               <div class="message-user-avatar-bgr hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2" >

                                       </div>
                                   </div>
                               </div>
                               <div class="online-status" ng-if="conversation.onlineStatus"></div>
                            </div>
                            <div class="message-data">
                                <div class="message-user-name">{{conversation.conversation_id}}</div>
                                <div class="message-excerpt">{{conversation.description}}</div>
                                <div class="message-date">{{conversation.time}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="right-col">
            <div class="content-block no-margin">
                <div class="content-block-title">
                   {{selectedUser}}
                   <div class="content-block-title-options">
                       <ul class="option-button">
                           <li>
                              <div class="button-icon"><i class="fa fa-angle-down"></i></div>
                               
                               <ul class="dropdown">
                                   <li class="dropdown-item">
                                       <a href class="dropdown-link">Delete conversation</a>
                                   </li>
                                   <li class="dropdown-item">
                                       <a href class="dropdown-link">Block user</a>
                                   </li>
                                   <li class="dropdown-item">
                                       <a href class="dropdown-link">Report spam / abuse</a>
                                   </li>
                               </ul>
                           </li>
                       </ul>
                   </div>
                </div>
                <div class="content-block-content">
                    <div id="user-messages-chat">
                        <div class="messages-history">
                            <div class="messages-history-day" ng-repeat="day in messageHistory">
                                <div class="day-name">
                                    <span>
                                        {{day.day}}
                                    </span>
                                </div>
                                <div class="day-messages">
                                    <div class="history-message" ng-repeat="message in day.messages">
                                        <div class="user-avatar">
                                            <div class="history-message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="message-body">
                                           <div class="message-hour">
                                                {{message.time}}
                                            </div>
                                            <div class="message-user">
                                                {{message.owner_nickname}}
                                            </div>
                                            <div class="message-text">
                                                {{message.text}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user-messages-send">
                        <div class="send-input">
                            <textarea ng-model="newMessage" placeholder="Write your message here..."></textarea>
                        </div>    
                        <div class="send-actions">
                            <button class="button primary" ng-click="sendMessage(selectedConversationId, newMessage)">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>