<div class="user-section-title">
    <div class="container">
        <h2>My Messages</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        <div class="left-col">
            <div class="content-block">
               <div class="content-block-title">
                Inbox (01)
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="content-block">
                <div class="content-block-title">
                   James Vanderson
                </div>
            </div>
        </div>
    </div>
</div>