 <nav id="global-nav">
            <h1 id="fhellow-brand">
                <a href="#/">Fhellow</a>
            </h1>
            <div id="nav-primary-wrapper">
                <ul id="nav-primary" ng-show="auth_token">
                    
                    <li class="nav-item"  ng-class="{active: isActive('/localfhellows')}">
                        <a href="#localfhellows" class="nav-item-link ">Find Fhellows</a>
                    </li>
                    
                </ul>
                <ul id="nav-primary-no-user" ng-show="!auth_token">
                    <li class="nav-item">
                        <a class="nav-item-link " href="#/" >Login or Register</a>
                    </li>
                   
                </ul>
                <ul id="nav-user" ng-show="auth_token">
                    <li class="nav-item messages"  ng-class="{active : isActive('/messages')}">
                        <a href="#/messages" class="nav-item-link">

                            <i class="fa fa-envelope"></i>
                            <span class="new-messages-badge" ng-if="newMessages != 0 && !isActive('/messages')">{{newMessages}}</span>

                        </a>
                        <ul class="dropdown main-nav-dropdown">
                            <li class="dropdown-item inbox-messages" >
                               <div id="user-messages-dropdown-title">
                                        <h3>My Messages</h3>
                                        <div class="title-options">
                                            Inbox (0)
                                        </div>
                                </div>
                                <div id="user-messages-dropdown-inbox">
                                    
                                      
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                </div>
                                <a class="button block" href="#/messages">View all messages</a>
                            </li>
                            
                            
                        </ul>
                    </li>
                    <li class="nav-item user" >
                       
                        <a href class="nav-item-link">
                           
                               <div class="user-profile-image hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2 avatar" ng-style="avatarStyle">

                                       </div>
                                   </div>
                               </div>
                               <div class="user-profile-image-brd hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2" >

                                       </div>
                                   </div>
                               </div>
                           
                            <svg version="1.1" id="user_arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 20 40" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M10,21.3c0.1-0.1,0.1-0.1,0.1-0.1c1.3-1.3,2.6-2.6,3.9-3.9
                                                                                                c0.2-0.2,0.3-0.2,0.5,0c0.1,0.1,0.3,0.3,0.4,0.4c0.3,0.3,0.3,0.4,0,0.7c-1.5,1.5-3,3-4.5,4.5c0,0-0.1,0.1-0.1,0.1
                                                                                                c-0.2,0.2-0.3,0.2-0.5,0c-0.1-0.1-0.2-0.2-0.3-0.3c-1.4-1.4-2.9-2.9-4.3-4.3c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.3,0-0.4
                                                                                                c0.2-0.2,0.3-0.4,0.5-0.5c0.1-0.1,0.3-0.1,0.4,0c0,0,0.1,0.1,0.1,0.1c1.2,1.2,2.5,2.5,3.7,3.8C9.9,21.2,9.9,21.2,10,21.3"/>
                            </svg>
                            

                        </a>
                        <ul class="dropdown main-nav-dropdown">
                            <li class="dropdown-item" ng-class="{active : isActive('/profile')}">
                                <a href="#profile" class="dropdown-link">View my profile</a>
                            </li>
                            
                            <li class="dropdown-item">
                                <a href class="dropdown-link" ng-click="logoutUser()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>