 <nav id="global-nav">
            <h1 id="fhellow-brand">
                <a href="#/">Fhellow</a>
            </h1>
            
            
            <div id="nav-primary-wrapper">
               
                <ul id="nav-primary-no-user" ng-show="!auth_token || isActive('/')")

                    <li class="nav-item no-border">
                        <a class="nav-item-link " href ng-click="goToSubSection('invite-home')" >Home </a>
                    </li>
                    <li class="nav-item no-border">
                        <a class="nav-item-link " href ng-click="goToSubSection('invite-about')" >About</a>
                    </li>
                    <li class="nav-item no-border">
                        <a class="nav-item-link " href ng-click="goToSubSection('invite-team')" >Team </a>
                    </li>
                    <li class="nav-item no-border">
                        <a class="nav-item-link " href ng-click="goToSubSection('invite-contact')" >Contact</a>
                    </li>
                   
                </ul>
                <ul id="nav-primary" ng-show="auth_token">
                    
                    <li class="nav-item"  ng-class="{active: isActive('/localfhellows')}">
                        <a href="#localfhellows" class="nav-item-link ">Find Fhellows</a>
                    </li>
                    
                </ul>
                <ul id="nav-user" ng-show="auth_token">
                    <li class="nav-item messages" ng-include="'app/views/notifications-dropdown.html'"></li>
                    <!--li class="nav-item messages"  ng-class="{active : isActive('/messages')}">
                        <a href="#/messages" class="nav-item-link">

                            <i class="fa fa-envelope"></i>
                            <span class="new-messages-badge" ng-if="newMessages != 0 && !isActive('/messages')">{{newMessages}}</span>

                        </a>
                        <ul class="dropdown main-nav-dropdown">
                            
                            <li class="dropdown-item inbox-messages" >
                               <div id="user-messages-dropdown-title">
                                        <h3>My Messages</h3>
                                        <div class="title-options">
                                            Inbox (0)
                                        </div>
                                </div>
                                <div id="user-messages-dropdown-inbox">
                                    
                                      
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                    <div class="inbox-message">
                                        <div class="user-avatar">
                                          <div class="message-user-avatar hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 " >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="message-user-avatar-bgr hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2" >

                                                   </div>
                                               </div>
                                           </div>
                                           <div class="online-status" ng-if="message.onlineStatus"></div>
                                        </div>
                                        <div class="message-data">
                                            <div class="message-user-name">User name</div>
                                            <div class="message-excerpt">Message excerpt</div>
                                            <div class="message-date">Tue</div>
                                        </div>
                                    </div>
                                </div>
                                <a class="button block" href="#/messages">View all messages</a>
                            </li>
                            
                            
                        </ul>
                    </li-->
                    <li class="nav-item user" >
                       
                        <div class="user-profile-avatar">
                           
                               <div class="user-profile-image hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2 avatar" ng-style="avatarStyle">

                                       </div>
                                   </div>
                               </div>
                               <div class="user-profile-image-brd hexagon">
                                   <div class="hexagon-inner-1">
                                       <div class="hexagon-inner-2" >

                                       </div>
                                   </div>
                               </div>

                        </div>
                        
                        <div class="user-profile-text">
                           User Name 
                        </div>
                        
                        <div class="user-profile-arrow">
                             <i class="fa fa-angle-down"></i>
                        </div>
                        
                        
                        <ul class="dropdown main-nav-dropdown">
                            <li class="dropdown-items">
                               <ul>
                                    <li class="dropdown-item user-profile" ng-class="{active : isActive('/profile')}">

                                       <div class="user-avatar-big">
                                            <div class="user-profile-image hexagon">
                                               <div class="hexagon-inner-1">
                                                   <div class="hexagon-inner-2 avatar" ng-style="avatarStyle">

                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="user-avatar-text">
                                           <div class="profile-user-name">User Name</div>
                                           <div class="profile-button"><a href="#profile" class="button primary">View Profile</a></div>
                                       </div>


                                    </li>
                                    <li class="dropdown-item">
                                        <a href class="dropdown-link" ng-click="logoutUser()"> <i class="fa fa-lock"></i> Sign out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>