<div id="profile">
    <form novalidate name="profileForm" ng-init="">
        <div id="profile-cover-image" style="background-image:url('{{profile.coverUrl}}')">
            <div id="profile-cover-options-wrapper">
                <div ng-hide="profile.hascover">
                    <div id="section-header" class="ng-scope">
                        <h1>Welcome to the Community!<br/>You are now officially a Fhellow</h1>
                        <h3>Complete your profile and start finding Fhellows around you.<br/>Your profile must be at least 50% complete in order to start.</h3>
                    </div>
                </div>
                
                
                <div id="profile-cover-options">

                    <button class="button inverted" ng-file-select ng-model="picCoverFile" name="file" ng-file-change="generateCoverThumb(picCoverFile[0])"  accept="image/*"  multiple="false">Change Cover Image</button>

                </div>
            </div>
        </div>

        <div id="profile-user-main-info">
            <div class="container">
                <div class="left-col">
                    <div id="profile-user-image">
                        <div class="profile-image hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2" style="background-image:url('{{profile.avatarUrl}}')">

                                </div>
                            </div>
                        </div>
                        <div class="profile-image-brd hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2">

                                </div>
                            </div>
                        </div>

                        <div id="profile-user-image-options">
                            <button class="button inverted" ng-file-select ng-model="picFile" name="file" ng-file-change="generateThumb(picFile[0])"  accept="image/*"  multiple="false">Change Profile Picture</button>
                        </div>


                    </div>
                </div>
                <div class="right-col">
                    <div id="profile-user-data">
                        <div id="profile-user-name">
                            <div class="editable">
                                {{profile.firstname}}<span class="editable-placeholder" ng-show="profile.firstname == ''">First Name</span>, {{profile.lastname}} <span class="editable-placeholder" ng-show="profile.lastname == ''">Last Name</span>
                                <div class="floatform" id="user-name-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="control">
                                                <input type="text" ng-model="profile.firstname" placeholder="First Name">
                                            </div>
                                            <div class="control">
                                                <input type="text" ng-model="profile.lastname" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateBothNames(profile.firstname, profile.lastname)">Save</button> 
                                            <button class="button inverted"  ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="profile-user-job-title" >
                            <div class="editable">
                                {{profile.title}} <span class="editable-placeholder" ng-show="profile.title == ''">Job Title</span>
                                <div class="floatform" id="user-job-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="control">
                                                <input type="text" ng-model="profile.title" placeholder="Job Title">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateTitle(profile.title)">Save</button> <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="profile-user-looking-to" >

                            <div class="editable">

                                I'm Looking to  : <span ng-repeat="item in profile.lookingFor" class="editable-child">{{item}}<span ng-hide="$index == (profile.lookingFor.length - 1)">, </span></span> <span class="placeholder editable-child" ng-show="profile.lookingFor.length == 0">Click here to select</span>

                                <div class="floatform" id="user-looking-to-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="legend">
                                                I'm looking to 
                                            </div>
                                            <div class="control">
                                                <div class="checkboxes">
                                                    <label ng-repeat="lf in lookingFors" class="checkbox-label">
                                                        <input type="checkbox" name="selectedLookingFors[]" value="{{lf}}" 
                                                               ng-checked="profile.lookingFor.indexOf(lf[0]) > -1" 
                                                               ng-click="toggleLookingForSelection(lf)"> {{lf[1]}}

                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateLookingFors(profile.lookingFor)">Save</button> <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="profile-status">
                        <div id="profile-status-percentage">
                            Your profile is 
                            <span>{{profile.percentage}}% complete</span> 
                        </div>
                        <div id="profile-status-publish">

                            <button class="button primary block" ng-disabled="profile.percentage < 60" ng-show="!profile.live" ng-click="updateUserLiveProfile(profile.live)" >Publish Profile</button>

                            <button class="button inverted block" ng-show="profile.live" ng-click="updateUserLiveProfile(profile.live)" >Profile Live</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="profile-location">
            <div class="right-col ">
                <div class="content-block">
                    <div>I am originally from 
                        <div class="editable">
                            {{profile.originallyFrom}} <span class="editable-placeholder" ng-show="profile.originallyFrom == ''">Enter Location</span>
                            <div class="floatform" id="user-originally-from-form">
                                <div class="form-content">
                                    <div class="form-fields">
                                        <div class="control">
                                            <input type="text" ng-model="profile.originallyFrom" placeholder="Your city">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button class="button primary" ng-click="updateOriginallyFrom(profile.originallyFrom)">Save</button> 
                                        <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div>I am currently located in 

                        <div class="editable">
                            {{profile.location}} <span class="editable-placeholder" ng-show="profile.location == ''">Enter Location</span>
                            <div class="floatform" id="user-location-form">
                                <div class="form-content">
                                    <div class="form-fields">
                                        <div class="control">
                                            <input type="text" ng-model="profile.location" placeholder="Your actual city">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button class="button primary" ng-click="updateLocation(profile.location)">Save</button> 
                                        <button class="button inverted"  ng-click="closeEditables($event)">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
        </div>


        <div id="profile-user-info">
            <div class="left-col ">
                <div class="content-block editable-block" id="user-interests-form">
                    <div class="content-block-title editable-title">
                        My Interests
                        <div class="editable-title-options">
                            <button class="button inverted" ng-disabled="interestStatus" ng-click="editInterestBlock()">Edit</button>
                        </div>
                    </div>
                    <div class="content-block-content">
                        <div ng-show="!interestStatus">
                            <div ng-show="profile.interests == ''">Share your interests with Fhellows</div>
                            
                            <div class="interest" ng-repeat="interst in profile.interests">
                                {{interst}}
                            </div>
                            
                            
                            
                        </div>
                        
                        <div ng-show="interestStatus" class="control">
                            <div class="checkboxes two-cols">
                                <label ng-repeat="interest in interestsList" class="checkbox-label " >
                                    <input type="checkbox" name="selectedInterests[]" value="{{interest}}" 
                                           ng-checked="profile.interests.indexOf(interest) > -1" 
                                           ng-click="toggleInterstsSelection(interest)"
                                           > {{interest}}

                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="content-block-actions left" ng-show="interestStatus">
                           <button class="button inverted"  ng-click="cancelInterestBlock()">Cancel</button>
                           <button class="button primary"  ng-click="saveInterestBlock(profile.interests)">Save</button>
                    </div>

                </div>
                <div class="content-block" id="profile-user-links">
                    <div class="content-block-title ">
                        My Links
                    </div>
                    <div class="content-block-content">
                        <div class="link">
                            <span class="editable">
                                 {{profile.twitter}}<span class="editable-placeholder" ng-show="profile.twitter == ''">Add Twitter Link</span>
                                
                                <div class="floatform" id="user-twitter-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="control">
                                                <input type="text" ng-model="profile.twitter" placeholder="Twitter Link">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateTwitter(profile.twitter)">Save</button> 
                                            <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </span>
                        </div>
                        
                        <div class="link">
                            <span class="editable">
                               {{profile.linkedin}}<span class="editable-placeholder" ng-show="profile.linkedin == ''">Add Linkedin Link</span>
                                <div class="floatform" id="user-linkedin-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="control">
                                                <input type="text" ng-model="profile.linkedin" placeholder="Linkedin Link">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateLinkedin(profile.linkedin)">Save</button> 
                                            <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="link">
                            <span class="editable">
                               {{profile.website}}<span class="editable-placeholder" ng-show="profile.website == ''">Add Website</span>
                                <div class="floatform" id="user-website-form">
                                    <div class="form-content">
                                        <div class="form-fields">
                                            <div class="control">
                                                <input type="text" ng-model="profile.website" placeholder="Website Link">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="button primary" ng-click="updateWebsite(profile.website)">Save</button> 
                                            <button class="button inverted" ng-click="closeEditables($event)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content-block">
                    <div class="content-block-title ">
                        My work playlist
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="content-block editable-block" id="user-about-form">
                    <div class="content-block-title editable-title">
                        About Me
                        <div class="editable-title-options">
                            <button class="button inverted" ng-disabled="aboutStatus" ng-click="editAboutBlock()">Edit</button>
                         

                        </div>
                    </div>
                    <div class="content-block-content">
                        <div class="control inline">
                            <label>I am a</label>
                            <div class="checkboxes">
                                <label ng-repeat="ia in iAms" class="checkbox-label disabled" >
                                    <input type="checkbox" name="selectedIams[]" value="{{ia}}" 
                                           ng-checked="profile.iam.indexOf(ia[0]) > -1" 
                                           ng-click="toggleIamSelection(ia)"
                                           disabled="disabled"
                                           > {{ia[1]}}

                                </label>
                            </div>
                        </div>
                        <div class="control inline">
                            <label>
                                <div class="label-help">
                                    Intro
                                    <span class="control-help-text">140 Characters</span>
                                </div>
                            </label>
                            <div class="textarea">
                                <textarea placeholder="Type here" ng-model="profile.bio"></textarea>
                            </div>
                        </div>

                        <div class="control inline">
                            <label>

                                Tell us more <span class="tooltip-content tooltip-help">?</span>



                            </label>
                            <div class="textarea" >
                                <textarea ng-model="profile.longbio" placeholder="Type here" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="content-block-actions" ng-show="aboutStatus">
                           <button class="button inverted"  ng-click="cancelAboutBlock()">Cancel</button>
                            <button class="button primary"  ng-click="saveAboutBlock(profile.iam, profile.bio, profile.longbio)">Save</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="clear-bottom">
            
        </div>
    </form>
</div>
