<div id="profile">
    <div id="profile-cover-image">
        <div id="profile-cover-options-wrapper">
            <div id="profile-cover-options">

                    <button class="button inverted">Change Cover Image</button>

            </div>
        </div>
    </div>
    
    <div id="profile-user-main-info">
        <div class="container">
            <div class="left-col">
                <div id="profile-user-image">
                    <div class="profile-image hexagon">
                        <div class="hexagon-inner-1">
                            <div class="hexagon-inner-2" style="background-image:url('/static/public-images/default-avatar.png')">

                            </div>
                        </div>
                    </div>
                    <div class="profile-image-brd hexagon">
                        <div class="hexagon-inner-1">
                            <div class="hexagon-inner-2">

                            </div>
                        </div>
                    </div>
                  
                    <div id="profile-user-image-options">
                        <button class="button inverted">Change Profile Picture</button>
                    </div>
                    
                    
                </div>
            </div>
            <div class="right-col">
                <div id="profile-user-data">
                    <div id="profile-user-name">
                        <div class="editable">
                            Natalie Jenkins
                            <div class="floatform" id="user-name-form">
                                <div class="form-content">
                                   <div class="form-fields">
                                      <div class="control">
                                           <input type="text" placeholder="First Name">
                                       </div>
                                       <div class="control">
                                           <input type="text" placeholder="Last Name">
                                       </div>
                                   </div>
                                    <div class="form-actions">
                                        <button class="button primary">Save</button> <button class="button inverted">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="profile-user-job-title" >
                        <div class="editable">
                            Job title
                            <div class="floatform" id="user-job-form">
                                <div class="form-content">
                                   <div class="form-fields">
                                      <div class="control">
                                           <input type="text" placeholder="Job Title">
                                       </div>
                                   </div>
                                    <div class="form-actions">
                                        <button class="button primary">Save</button> <button class="button inverted">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div id="profile-user-looking-to" >
                       <div class="editable">
                        I'm Looking to <span >Click here to select</span> 
                        
                        <div class="floatform" id="user-looking-to-form">
                                <div class="form-content">
                                   <div class="form-fields">
                                     <div class="legend">
                                         I'm looking to 
                                     </div>
                                      <div class="control">
                                           <div class="checkboxes">
                                                <div class="checkbox-label">
                                                    <input type="checkbox"> Socialise with other Fhellows        
                                                </div><br/>
                                                <div class="checkbox-label">
                                                    <input type="checkbox"> Collaborate with other Fhellows             
                                                </div><br/>
                                                <div class="checkbox-label">
                                                    <input type="checkbox"> Mentor Fhellows              
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                                    <div class="form-actions">
                                        <button class="button primary">Save</button> <button class="button inverted">Cancel</button>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div id="profile-status">
                    <div id="profile-status-percentage">
                        Your profile is
                        <span>10% complete</span> 
                    </div>
                    <div id="profile-status-publish">
                        <button class="button primary block disabled" >Publish Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="profile-location">
        <div class="right-col ">
           <div class="content-block">
                <div>I am originally from <div class="editable">Enter Location</div></div> 
                <div>I am currently located in <div class="editable">Enter Location</div></div> 
            </div>
        </div>
    </div>

    
    <div id="profile-user-info">
        <div class="left-col ">
            <div class="content-block">
                <div class="content-block-title editable">
                    My Interests
                </div>
                <div class="content-block-content">
                    Share your interests with Fhellows
                </div>

            </div>
            <div class="content-block" id="profile-user-links">
                 <div class="content-block-title editable">
                    My Links
                </div>
                <div class="content-block-content">
                    <div class="link"><span class="editable">Twitter</span></div>
                    <div class="link"><span class="editable">Linkedin</span></div>
                    <div class="link"><span class="editable">Add my website</span></div>
                </div>
            </div>
            <div class="content-block">
                <div class="content-block-title editable">
                    My work playlist
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="content-block">
                <div class="content-block-title editable">
                    About Me
                </div>
                <div class="content-block-content">
                    <div class="control inline">
                        <label>I am a</label>
                        <div class="checkboxes">
                            <div class="checkbox-label">
                                <input type="checkbox"> Freelancer
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox"> Entrepreneur
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox"> Digital Nomad
                            </div>
                        </div>
                    </div>
                    <div class="control inline">
                        <label>
                           <div class="label-help">
                                Intro
                                <span class="control-help-text">140 Characters</span>
                            </div>
                        </label>
                        <div class="textarea">
                            <textarea placeholder="Type here"></textarea>
                        </div>
                    </div>
                    
                    <div class="control inline">
                        <label>
                           
                                Tell us more <span class="tooltip-content tooltip-help">?</span>

                           
                           
                        </label>
                        <div class="textarea">
                            <textarea placeholder="Type here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div>
        a
    </div>
    
</div>