
   <div id="profile">
    <form novalidate name="profileForm" ng-init="">
        <div id="profile-cover-image" style="background-image:url('{{profile.coverUrl}}')">
            <div id="profile-cover-options-wrapper">
                
                
                
                
            </div>
        </div>

        <div id="profile-user-main-info">
            <div class="container">
                <div class="left-col">
                    <div id="profile-user-image">
                        <div class="profile-image hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2" style="background-image:url('{{profile.avatarUrl}}')">

                                </div>
                            </div>
                        </div>
                        <div class="profile-image-brd hexagon">
                            <div class="hexagon-inner-1">
                                <div class="hexagon-inner-2">

                                </div>
                            </div>
                        </div>

                        


                    </div>
                </div>
                <div class="right-col">
                    <div id="profile-user-data">
                        <div id="profile-user-name">
                            <div >
                                {{profile.firstname}} {{profile.lastname}} 
                            </div>
                        </div>
                        
                        <div id="profile-user-location">
                            <div>
                                {{profile.location.description}}  
                            </div>
                        </div>
                        
                        <div id="profile-user-looking-to" >

                            <div>
                                
                                
                                <span class="iams" ng-repeat="item in profile.iam">{{item}}</span>
                                
                                <span ng-repeat="item in profile.lookingFor" class="editable-child looking-fors">
                                    
                                    <span class="editable-child icon" ng-show="item == 'Socialise'">
                                        <i class="fa fa-coffee "></i>
                                    </span>
                                    <span class="editable-child icon" ng-show="item == 'Collaborate'">
                                        <i class="fa fa-pencil "></i>
                                    </span>
                                    <span class="editable-child icon" ng-show="item == 'Mentor'">
                                        <i class="fa fa-graduation-cap "></i>
                                    </span>
                                </span>    
                            
                                
                            </div>
                        </div>
                    </div>
                    <div id="profile-status" >
                        <button class="button">Have a Chat</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="profile-bio">
            <div class="right-col ">
                <div class="content-block editable-block" id="user-bio-form" >
                    <div class="content-block-title editable-title">
                        Allow me to introduce myself...
                       
                    </div>
                    
                    <div class="content-block-content">
                        <div class="textarea">
                            <div class="textarea-text">{{profile.bio}}</div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>


        <div id="profile-user-info">
            <div class="left-col ">
                <div class="content-block " id="user-interests-form">
                    <div class="content-block-title ">
                        My Interests
                        
                    </div>
                    <div class="content-block-content">
                        <div >
                            <div class="interest" ng-repeat="interst in profile.interests">
                                {{interst}}
                            </div>                            
                        </div>                       
                    </div>
                </div>
                <div class="content-block" id="profile-user-links">
                    <div class="content-block-title ">
                        My Links
                    </div>
                    <div class="content-block-content">
                        <div class="link" ng-show=" profile.twitter != ''">
                           <i class="fa fa-twitter profile-icon"></i> 
                            <span>
                               <a href="http://{{profile.twitter}}">{{profile.twitter}}</a> 
                            </span>
                        </div>
                        
                        <div class="link" ng-show="profile.linkedin != ''">
                           <i class="fa fa-linkedin profile-icon"></i>
                            <span >
                               <a href="http://{{profile.linkedin}}">{{profile.linkedin}}</a>
                            </span>
                        </div>
                        <div class="link" ng-show="profile.website != ''">
                           <i class="fa fa-globe profile-icon"></i>
                            <span>
                               <a href="http:// {{profile.website}}">{{profile.website}}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content-block">
                    <div class="content-block-title ">
                        My work playlist
                    </div>
                </div>
                
                <div class="content-block">
                    <div class="content-block-title ">
                        I like to work at
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="content-block" id="user-more-about-form">
                    <div class="content-block-title editable-title">
                        More about me
                    </div>
                    <div class="content-block-content">
                        <div class="sub-block" id="user-originally-from-form" ng-if="profile.originallyFrom != '' && profile.originallyFrom != undefined">
                            <strong>
                               Where are you originally from?                                
                            </strong>
                            <div class="textarea" >
                                <div class="textarea-text" > {{profile.originallyFrom}} </div>
                            </div>
                        </div>
                        
                        
                        <div class="sub-block" id="user-title-form" ng-if="profile.title != '' && profile.title != undefined">
                            <strong>
                               How do you make a living?
                            </strong>
                            <div class="textarea">
                                <div class="textarea-text"> {{profile.title}} </div>
                            </div>
                        </div>
                        
                         <div class="sub-block" id="user-advice-form" ng-if="profile.advice != '' && profile.advice != undefined">
                            <strong >
                               What advice would you give a Fhellow a few years behind you?
                            </strong>
                            <div class="textarea">
                                <div class="textarea-text"> {{profile.advice}} </div>
                            </div>
                        </div>
                        
                        
                        <div class="sub-block" id="user-hobbies-form" ng-if="profile.hobbies != '' && profile.hobbies != undefined">
                            <strong>
                               What do you like to do when you’re not working?
                            </strong>
                            <div class="textarea">
                                <div class="textarea-text" > {{profile.hobbies}} </div>
                            </div>
                        </div>
                        
                        <div class="sub-block" id="user-books-form" ng-if="profile.resources != '' && profile.resources != undefined">
                            <strong>
                               What books, blogs or resources would you recomend to other Fhellows?
                            </strong>
                            <div class="textarea">
                                <div class="textarea-text" > {{profile.resources}} </div>
                            </div>
                        </div>
                        
                        <div class="sub-block" id="user-share-form" ng-if="profile.share != '' && profile.share != undefined">
                            <strong>
                               Anything else you would like to share with Fhellows?
                             </strong>
                            <div class="textarea">
                                <div class="textarea-text" > {{profile.share}} </div>
                            </div>
                        </div>
                        
                        
                        <div class="sub-block" id="user-message-form" ng-if="profile.messageme != '' && profile.messageme != undefined">
                            <strong>
                               Message me if...
                            </strong>
                            <div class="textarea">
                                    <div class="textarea-text"> {{profile.messageme}} </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </div>
                    
                   
                </div>

            </div>
        </div>
        <div class="clear-bottom">
            
        </div>
    </form>
</div>
