*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
deployments/
/codename-html5/app/bower_components/
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/codename-core/target/
node_modules

.project
.settings
.classpath
.index
.niogit
/nbproject/
/codename-user-services/target/
/codename-user-core/target/
/codename-user-model/target/
/codename-chat-core/target/
/codename-chat-model/target/
/codename-chat-services/target/
/codename-tracking-model/target/
/codename-tracking-core/target/
/codename-tracking-services/target/
/codename-frontend/nbproject/private/
