.list-container {
    h2 {
        font-size: @listH2FontSize;
        font-weight: 500;
        margin: (@padding) 0;
    }
    .load-more {
        border-bottom: 1px solid #757575;
        margin: 0 10px (@padding) 0;
        text-align: center;
        a {
            top: 20px;
            position: relative;
            cursor: pointer;
            &:hover {
                border-color: #000;
                text-decoration: none;
            }
        }
    }
    
    .list-loader {
        text-align: center;
        .fa {
            font-size: 40px;
        }
        
        h2 {
            font-weight: @lightText;
            font-size: 30px;
            margin-top: 20px;
        }
    }
}