
.button {
    background-color: @buttonBgr;
    color: @buttonColor;
    font-size: @fontSize;
    font-weight: @regularText;
    padding: (@padding/4) (@padding/2);
    box-sizing: border-box;
    border: 1px solid @buttonBgr;
    .transition();
    &:hover {
        color: @link;
    }

    &.inverted {
        background-color: @buttonBgrInverted;
        border: 1px solid @buttonBgr;
        color: @buttonColorInverted;
         &:hover {
            color: @link;
            border: 1px solid @link;
         }
    }
    
    &.primary {
        background-color: @link;
        font-weight: @boldText;
        border: 1px solid @link;
         &:hover {
            color:  @buttonColorInverted;
        
         }
    }
    &.block {
        width: 100%;
        margin: (@padding/8) 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &.disabled, &:disabled  {
        background-color: @buttonBgrDisabled;
        color: @buttonColorDisabled;
        cursor: default;
        pointer-events: none;
        border: 1px solid @buttonColorDisabled;
    }
    
    &.facebook {
        color: @buttonColor;
        background-color: @facebook;
        border-color:  @facebook;
         &:hover {
             background-color: darken(@facebook, 10%);
             border-color:  darken(@facebook, 10%);
         }
    }
    &.google {
        color: @buttonColor;
        background-color: @google;
        border-color:  @google;
         &:hover {
             background-color: darken(@google, 10%);
             border-color: darken(@google, 10%);
         }
    }
}
