.fhellow-item {
    background-color: @cardBgr;
    vertical-align: top;
    height: 465px;
    position: relative;
    .boxShadow();
    .card();
    width: 304px;

    .fhellow-cover-image {
        height: 132px;
         background-color: #000;
        background-size: cover;
        background-position: center;
    }
    .fhellow-profile {
        position: relative;
        padding: (@padding/2);
        height: 40px;
        .button {
            position: absolute;
            right: (@padding/2);
        }
        .fhellow-profile-image {
            width: 120px;
            height: 150px;
            position: absolute;
            top: -110px;
            z-index: 10;
            .hexagon-inner-2 {
                background-color: #000;
            }
        }
        .fhellow-profile-image-brd {
             width: 126px;
            height: 156px;
            position: absolute;
            top: -113px;
            left: 17px;
            z-index: 5;
            .hexagon-inner-2 {
                background-color: #FFF;
            }
        }    
    }
    .fhellow-info {
        padding: 0 (@padding/2)  ;
        color: @textGray;
        .fhellow-name {
            font-size: @cardNameFontSize;
            line-height: (@lineHeight*1.2);
        }
        .fhellow-location {
            
            
            font-weight: 300;
            padding: (@padding/2) 0 0;
           
        }
        .fhellow-description {
            padding: (@padding/2) 0;
            font-weight: 300;
            white-space: normal;
        }
        .fhellow-interests {
            max-height: 40px;
            overflow: hidden;
            font-size: @cardLocationFontSize;
        }
    }
    .fhellow-actions {
        position: absolute;
        bottom: 1px;
        width: 100%;
        border-top: 1px solid @borders;
        height: @cardActionsHeight;
        line-height: @cardActionsHeight;
        font-size: 0;
        a {
            display: inline-block;
            width: 50%;
            font-size: @fontSize;
            text-align: center;
            border-right: 1px solid @borders;
            color: @textDark;
            &:hover {
                background-color: @link;
                color: @textLight;
                text-decoration: none;
            }
            &:last-child {
                border: none;
            }
        }
    }
}