.col {
   display: inline-block;
    vertical-align: top;
    
}
.container{
    width: 940px;
    margin: 0 auto;
    white-space: nowrap;
     padding: 0 !important;
    position: relative;
    font-size: 0;
    & > div {
        font-size: @fontSize;
        white-space: normal;
    }
}

.left-col {
    .col();
    .col-margin();
    width: 300px;
    
}

.right-col {
    .col();
    width: 620px;
}

.six-col {
    .col();
    width: 460px; 
}
.four-col {
    .col();
    width: 300px; 
}
.two-col {
    .col();
    width: 140px; 
}

.col-margin{
    margin-right: @colMargin;
}

.right-offset-col(@cols) {
    margin-right:  (60*@cols + 20*(@cols));
}
.left-offset-col(@cols) {
    margin-left: (60*@cols + 20*(@cols));
}

.text-col {
    .col();
    .col-margin();
    .left-offset-col(1px);
    .right-offset-col(1px);
    width: 460px;
}