#filters {
    background-color: @filtersBgr;
    padding: (@padding/2) 0;
    box-shadow: none;
    z-index: @filtersIndex;
    .transition();
    &.isSticky{
        .boxShadow();
    }

    #filters-container {
        font-size: 0;
        width: 750px;
        margin: 0 auto;
        .control-group {
            display: inline-block;
        }
        .location-input {
            width: 170px;
            background-image: url(/static/img/location.svg);
            background-position: top right;
            background-repeat: no-repeat;
        }
        .proximity-select {
            width: 130px;
        }
        .type-select {
            width: 160px;
        }
        .search-input {
            width: 410px;
        }
    }
}