#section-header {
    padding: (@globalNavHeight ) 0 @globalNavHeight;
    text-align: center;
    background-color: @sectionHeaderBgr;
    h1 {
        font-size: @sectionHeaderH1Size;
        font-weight: @sectionHeaderFontWeight;
    }
    h2 {
        font-size: @sectionHeaderH2Size;
        font-weight: @sectionHeaderFontWeight;
        opacity: .6;
    }
    #header-image {
        img {
            height: 60px;
        }
    }
}