//COLORS
@bgr:                   #eaeaea;
@bgrDark:               #848484;
@bgrLight:              #FFF;
@navBgr:                #000;
@textLight:             #FFF;
@textDark:              #000;
@textGray:              #444;
@textGrayLight:         #757575;
@link:                  #09dbb8;
@borders:               #c6c6c6;
@bordersLight:          #FFF;
@facebook:              #365B9B;
@google:                #DC4C39;

@green:                 #00e0b5;
@blue:                  #175fc9;
@red:                   #D04544;


//FONT
@sansSerifFont:         'Roboto', sans-serif;
@fontSize:              14px;
@lineHeight:            1.42857143em;
@lightText:             300;
@boldText:              700;
@regularText:           500;

//BASIC SPACES
@padding:               40px;
@colMargin:             20px;
//CONTENT BLOCK
@blockBgr:              #FFF;
@blockPadding:          (@padding/2);
@titleFontSize:         1.42857143em; // 20px
//TABS
@tabHeight:             50px;
@tabFontSize:           1.42857143em; // 20px
@tabInactiveBgr:        #EFEFEF;
@tabActiveBgr:          @blockBgr;
//FLOATFORM
@floatformBgr:          @bgrLight;


//ELEMENTS
//GLOBAL-NAV
@globalNavHeight:       65px;
@navFontSize:           1.28571429em; // 18px
@navFontWeight:         300;
@navLink:               #FFF;
@navHoverBackground:    #333333;
@navLinkHover:          @link;
@navIndex:              1500;

//SECTION HEADER
@sectionHeaderBgr:      @bgrDark;
@sectionHeaderH1Size:   2.5em; //  35px
@sectionHeaderH2Size:   1.57142857em; // 22px
@sectionHeaderH3Size:   1.28571429em; // 18px
@sectionHeaderFontWeight: 300;
//USER SECTION HEADER
@userHeaderHeight:      85px;
@userHeaderH2:          2.14285714em; //  30px

//FOOTER
@footerBgr:             #000;
@footerNavFontSize:     1.14285714em; // 16px
@footerNavFontWeight:   300;
@footerLegalFontSize:   0.85714286em; // 12px

//FILTERS
@filtersBgr:            #FFF;
@filtersIndex:          500;

//FORMS
@helpTextFontSize:      0.85714286em; // 12px
@helpTextColor:         #757575;
@inputHeight:           40px;
@inputPadding:          (@inputHeight/4);
//BUTTONS
@buttonBgr:             #000;
@buttonColor:           #FFF;
@buttonBgrInverted:     #FFF;
@buttonColorInverted:   #000;
@buttonColorDisabled:   #e8e8e8;
@buttonBgrDisabled:     #b2b2b2;
@buttonToggleOnBgrColor: #2d2d2d;
@buttonToggleOnColor:   #FFF;
//OPTIONS BUTTONS
@optButtonHeight:       30px;
@optButtonItemHeight:   40px;

//LISTS 
@listH2FontSize:        1.42857143em;

//CARDS 
@cardBgr:               #FFF;
@cardSpacing:           12px;
@cardNameFontSize:      1.42857143em; // 20px
@cardLocationFontSize:  0.85714286em; // 12px
@cardActionsHeight:     50px;

//DROPDOWNS
@dropdowFontSize:       14px;
@dropdownFontWeight:    300;
@dropdownItemHeight:    54px;

//PROFILE
@nameFontSize:          2.14285714em; // 30px
@jobFontSize:           1.14285714em; // 16px
@jobFontWeight:         1.14285714em; // 16px
@statusFontSize:        1.42857143em; // 20px


//SCREENS
@darkBgr:               #999;
@darkText:              @textLight;

//CHAT
@chatFontSize:          0.85714286em; // 12px
@chatWidth:             280px;
@chatHeight:            320px;
@chatBgr:               #eaeaea;
@chatFieldBgr:          #FFF;
@chatTitleBgr:          #000;

//MESSAGES
@inboxHeight:           580px;
@chatHeight:            @inboxHeight;
@sendHeight:            160px;
@inboxMessageHeight:    90px;
@dateFontSize:          0.85714286em; // 12px
@dayFontSize:           0.85714286em; // 12px

@inboxDropDownHeight:   (@inboxMessageHeight*4);
@badgeFontSize:         12px;
