//COLORS
@bgr:                   #eaeaea;
@navBgr:                #000;
@textLight:             #FFF;
@textDark:              #000;
@link:                  #09dbb8;
@borders:               #c6c6c6;

//FONT
@sansSerifFont:         'Roboto', sans-serif;
@fontSize:              14px;
@lineHeight:            1.42857143em;

//BASIC SPACES
@padding:               40px;

//ELEMENTS
//GLOBAL-NAV
@globalNavHeight:       65px;
@navFontSize:           1.28571429em; // 18px
@navFontWeight:         300;
@navLink:               #FFF;
@navLinkHover:          @link;
@navIndex:              1500;

//SECTION HEADER
@sectionHeaderBgr:      #c9c9c9;
@sectionHeaderH1Size:   2.5em; //  35px
@sectionHeaderH2Size:   1.57142857em; // 22px
@sectionHeaderFontWeight: 300;

//FOOTER
@footerBgr:             #000;
@footerNavFontSize:     1.14285714em; // 16px
@footerNavFontWeight:   300;
@footerLegalFontSize:   0.85714286em; // 12px

//FILTERS
@filtersBgr:            #FFF;
@filtersIndex:          1000;

//FORMS
@helpTextFontSize:      12px;
@helpTextColor:         #757575;
@inputHeight:           40px;
@buttonBgr:             #000;
@buttonColor:           #FFF;

//LISTS 
@listH2FontSize:        1.42857143em;

//CARDS 
@cardBgr:               #FFF;
@cardSpacing:           12px;
@cardNameFontSize:      1.28571429em; // 18px
@cardLocationFontSize:  0.85714286em; // 12px