<div class="user-section-title">
    <div class="container">
        <h2>Contact Us</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        
        <div class="right-col">
            <div class="content-block " >
               
              
                <div class="content-block-content">
                    <form ng-if="!contactStatus">
                        <div class="control-group ">

                            <div class="control full" >
                                <input type="text" ng-model="name" placeholder="Your name">
                            </div>
                             <div class="control full" >
                                <input type="email" ng-model="email" placeholder="Your email">
                            </div>
                             <div class="control full" >
                                <input type="text" ng-model="subject" placeholder="Subject">
                            </div>
                            <div class="control full" >
                                <textarea placeholder="Your message"  ng-model="text" id="" cols="30" rows="7"></textarea>
                            </div>

                             <div class="control full" >
                                <button class="button" ng-click="sendContactForm(email, name, subject, text, 'footer-contact-form')" >Send Message</button>
                            </div>

                        </div>
                    </form>
                    <div class="manual-notification success" ng-if="inviteContactStatus">
                    <h2><i class='fa fa-check'></i> Your message has been sent</h2>
                    <p>Thanks for dropping us a line. We’ll be in touch shortly.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="left-col">
            <div class="content-block ">
               
                <div class="content-block-content">
                   <h4> We’d love to hear from you.</h4>
                   <p> Feel free to drop us a line anytime, <br>
                    with questions, comments or just to <br>
                    say hello. <br> <br> </p>
                    <p>
                        <strong>Email:</strong> <a href="mailto:hello@fhellow.com">hello@fhellow.com</a> <br>
                        <strong>Skype ID:</strong> teamfhellow
                        <br><br>
                    </p>
                    
                    <p>
                         <a href="https://www.facebook.com/fhellow" target="_blank" class="button block facebook"> <i class="fa fa-facebook"></i> Follow us on Facebook</a> <a href="https://twitter.com/fhellowapp" target="_blank" class="button block twitter"> <i class="fa fa-twitter"></i> Follow us on Twitter</a>
                    </p>
                    
                </div>
            </div>

        </div>
    </div>
</div>