<div class="user-section-title">
    <div class="container">
        <h2>Contact Us</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        
        <div class="right-col">
            <div class="content-block " >
               
              
                <div class="content-block-content">
                    <form >
                        <div class="control-group ">

                            <div class="control full" >
                                <input type="text" placeholder="Your name">
                            </div>
                             <div class="control full" >
                                <input type="email" placeholder="Your email">
                            </div>
                             <div class="control full" >
                                <input type="text" placeholder="Subject">
                            </div>
                            <div class="control full" >
                                <textarea placeholder="Your message" id="" cols="30" rows="7"></textarea>
                            </div>

                             <div class="control full" >
                                <button class="button" >Send Message</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="left-col">
            <div class="content-block ">
               
                <div class="content-block-content">
                   <h4> We’d love to hear from you.</h4>
                   <p> Feel free to drop us a line anytime, <br>
                    with questions, comments or just to <br>
                    say hello. <br> <br> </p>
                    <p>
                        <strong>Email:</strong> <a href="mailto:hello@fhellow.com">hello@fhellow.com</a> <br>
                        <strong>Skype ID:</strong> fhellow
                        <br><br>
                    </p>
                    
                    <p>
                         <a href="https://www.facebook.com/fhellow" target="_blank" class="button block facebook"> <i class="fa fa-facebook"></i> Follow us on Facebook</a> <a href="https://twitter.com/fhellowapp" target="_blank" class="button block twitter"> <i class="fa fa-twitter"></i> Follow us on Twitter</a>
                    </p>
                    
                </div>
            </div>

        </div>
    </div>
</div>