<div class="user-section-title">
    <div class="container">
        <h2>My Messages</h2>
    </div>
</div>

<div id="chatOffline" ng-if="!chatOnline">
    <div class="container">
       <div class="row">
           <div class="col-md-4 col-md-offset-4">
               <div class="content-block">
                   <div class="content-block-title">
                       Chat Offline
                    </div>
                    <div class="content-block-content">
                        <p>Sometimes the Chat Server goes down, we apologies for the inconviniense, please try reconnecting.</p>
                        
                    </div>
                    <div class="content-block-actions">
                        <a href class="button block" ng-click="reConnectChat()"> Re-connect</a>
                    </div>
                </div>
           </div>
       </div>
        
    </div>
</div>
<div id="messages" ng-if="chatOnline">
    <div class="container">
        <div class="left-col">
            <div class="content-block no-margin">
                <div class="content-block-title">
                    Inbox 
                </div>
                <div class="content-block-content">
                    <div id="user-messages-inbox">
                        <div class="inbox-message" ng-repeat="conversation in inbox | orderBy:'last_message.sent_at':true" ng-click="selectConversation(conversation)" ng-class="{active: selectedConversation.url == conversation.url, blocked: conversation.blocked, new: conversation.last_message.is_unread == true}">
                            <div class="user-avatar">
                                
                                <div class="message-user-avatar hexagon" ng-repeat="p in conversation.participants">
                                    <div class="hexagon-inner-1" >
                                        
                                        <div class="hexagon-inner-2 avatar" ng-if="p != me" style="background-image: url('{{serverUrlFull + 'rest/public/users/' + p + '/avatar?size=90'}}');">


                                        </div>
                                    </div>
                                </div>
                                <div class="message-user-avatar-bgr hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" >

                                        </div>
                                    </div>
                                </div>
                                <div class="online-status" ng-if="conversation.onlineStatus != 'false'"></div>
                                <div class="unread-badge" ng-if="conversation.unread_message_count > 0">{{conversation.unread_message_count}}</div>
                                
                            </div>
                            
                            <div class="message-data">
                                <div ng-repeat="pFull in conversation.metadata.participantsName">
                                    <div class="message-user-name" ng-if="pFull != meFull" ><span>{{pFull}}</span></div>
                                </div>
                                <div class="message-excerpt" >
                                    <span class="reply" ng-if="conversation.last_message.sender.user_id == me"><i class="fa fa-reply"></i></span>
                                    <span ng-bind-html="conversation.last_message.parts[0].body | colonToSmiley"></span>
                                    
                                    
                                    
                                </div>
                                <div class="message-date">{{conversation.last_message.received_at| date:'EEE HH:mm'}}</div>
                            </div>
                        </div>
                         <a href class="button block" ng-if="inbox.length > 6">Load more</a>
                        <div class="no-message" ng-if="inbox.length == 0">
                            No Messages 
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="right-col">
            <div class="content-block no-margin" ng-class="{blocked: selectedConversation.blocked == true}">
                <div class="content-block-title">
                    <span ng-repeat="p in selectedConversation.metadata.participantsName">
                        <span ng-if="p != meFull">{{p}}</span>
                    </span>
                    

                    <div class="no-message" ng-if="!selectedConversation">
                        Select a message to start chatting
                    </div>


                    <div class="content-block-title-options" ng-if="selectedConversation">
                        <ul class="option-button">
                            <li>
                                <div class="button-icon"><i class="fa fa-angle-down"></i></div>

                                <ul class="dropdown" >
                                    <li class="dropdown-item">
                                        <a href="#/report" class="dropdown-link" >Report abuse / spam</a>
                                    </li>
                                    <li ng-if="!selectedConversation.blocked" class="dropdown-item">
                                        <a href class="dropdown-link" ng-click="deleteConversation(selectedConversation.url)">Remove Conversation</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-block-content">
                    <div id="user-messages-chat">

                        <div class="blocked-message" ng-if="selectedConversation.blocked">
                            This user is blocked.
                        </div>
                        <div class="messages-history" ng-if="!selectedConversation.blocked">
                           
                            <div class="messages-history-day" >
                                <div class="day-name" ng-if="selectedConversation">
                                    <span>
                                        <a href class="button inverted small">Load more</a>
                                    </span>
                                </div>
                                <div class="day-messages">
                                    <div class="history-message" ng-repeat="message in messageHistory | orderBy:'position':reverse">
                                        <div class="user-avatar">
                                            <div class="history-message-user-avatar hexagon">
                                                <div class="hexagon-inner-1">
                                                    <div class="hexagon-inner-2 avatar" style="background-image: url('{{serverUrlFull + 'rest/public/users/' + message.sender.user_id + '/avatar?size=90'}}');">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-hour">
                                                
                                                {{message.sent_at| date:'EEE HH:mm'}}
                                            </div>
                                            
                                            <div class="message-user">
                                                {{message.sender.user_id}}
                                            </div>
                                            <div ng-bind-html="message.parts[0].body | colonToSmiley" class="message-text">
                                                
                                            </div>
                                            <div class="message-read-status" ng-if="$last && getLastSentMessageStatus(message.recipient_status) == 'read'"> <i class="fa fa-check"></i> Read</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user-messages-send">
                        <div class="send-input" emoji-form emoji-message="emojiMessage">
                            <textarea ng-model="emojiMessage.messagetext" id="sendMessageTextArea"  ng-disabled="!selectedConversation" placeholder="Write your message here..." ng-class="{disabled: !selectedConversation}" ></textarea>
                        </div>  
                       <!-- <button id="emojibtn">
                                <i class="icon icon-emoji"></i>
                        </button>-->
                        <div class="send-actions">
                            
                            <button id="sendMessageButton" class="button primary" ng-disabled="!selectedConversation" 
                                    ng-click="sendMessage(selectedConversation.url, emojiMessage.messagetext,'text/plain')" >{{sendText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>