<div class="user-section-title">
    <div class="container">
        <h2>My Messages</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        <div class="left-col">
            <div class="content-block no-margin">
                <div class="content-block-title">
                    Inbox  
                </div>
                <div class="content-block-content">
                    <div id="user-messages-inbox">
                        <div class="inbox-message" ng-repeat="conversation in inbox| orderBy: -conversation.time" ng-click="selectConversation(conversation)" ng-class="{active: selectedConversation.description == conversation.description, blocked: conversation.blocked, new: conversation.newMessage == true}">
                            <div class="user-avatar">

                                <div class="message-user-avatar hexagon">
                                    <div class="hexagon-inner-1">

                                        <div class="hexagon-inner-2 avatar" style="background-image: url('{{serverUrlFull + 'rest/public/users/' + conversation.other_nickname + '/avatar'}}');">


                                        </div>
                                    </div>
                                </div>
                                <div class="message-user-avatar-bgr hexagon">
                                    <div class="hexagon-inner-1">
                                        <div class="hexagon-inner-2" >

                                        </div>
                                    </div>
                                </div>
                                <div class="online-status" ng-if="conversation.onlineStatus"></div>
                            </div>


                            <div class="message-data">
                               
                                <div class="message-user-name">{{conversation.description}}</div>
                                <div class="message-excerpt" >
                                    <span class="reply" ng-if="(conversation.from == me)"><i class="fa fa-reply"></i></span>
                                    <span ng-bind-html="conversation.excerpt | colonToSmiley"></span>
                                </div>
                                <div class="message-date">{{conversation.time| date:'EEE HH:mm'}}</div>
                            </div>
                        </div>

                        <div class="no-message" ng-if="!inbox.length">
                            No Messages 
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="right-col">
            <div class="content-block no-margin" ng-class="{blocked: selectedConversation.blocked == true}">
                <div class="content-block-title">
                    {{selectedConversation.description}} 

                    <div class="no-message" ng-if="!selectedConversation.description.length">
                        Select a message to start chatting
                    </div>


                    <div class="content-block-title-options" ng-if="selectedConversation.description.length">
                        <ul class="option-button">
                            <li>
                                <div class="button-icon"><i class="fa fa-angle-down"></i></div>

                                <ul class="dropdown" >
                                    <li class="dropdown-item">
                                        <a href="#/report" class="dropdown-link" >Report abuse / spam</a>
                                    </li>
                                    <li ng-if="!selectedConversation.blocked" class="dropdown-item">
                                        <a href class="dropdown-link" ng-click="blockConversation(selectedConversation.conversation_id)">Block user</a>
                                    </li>
                                    <li ng-if="selectedConversation.blocked" class="dropdown-item">
                                        <a href class="dropdown-link" ng-click="unblockConversation(selectedConversation.conversation_id)">Unblock user</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-block-content">
                    <div id="user-messages-chat">

                        <div class="blocked-message" ng-if="selectedConversation.blocked">
                            This user is blocked.
                        </div>
                        <div class="messages-history" ng-if="!selectedConversation.blocked">
                           
                            <div class="messages-history-day" >
                                <div class="day-name" ng-if="selectedConversation.description.length">
                                    <span>
                                        All Messages
                                    </span>
                                </div>
                                <div class="day-messages">
                                    <div class="history-message" ng-repeat="message in messageHistory">
                                        <div class="user-avatar">
                                            <div class="history-message-user-avatar hexagon">
                                                <div class="hexagon-inner-1">
                                                    <div class="hexagon-inner-2 avatar" style="background-image: url('{{serverUrlFull + 'rest/public/users/' + message.owner_nickname + '/avatar'}}');">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-hour">
                                                {{message.time| date:'EEE HH:mm'}}
                                            </div>
                                            <div class="message-user">
                                                {{message.owner_nickname}}
                                            </div>
                                            <div ng-bind-html="message.text | colonToSmiley" class="message-text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user-messages-send">
                        <div class="send-input" emoji-form emoji-message="emojiMessage">
                            <textarea ng-model="emojiMessage.messagetext" id="sendMessageTextArea"  ng-disabled="!selectedConversation.description.length || selectedConversation.blocked" placeholder="Write your message here..." ng-class="{disabled: !selectedConversation.description.length || selectedConversation.blocked}" ></textarea>
                        </div>  
                       <!-- <button id="emojibtn">
                                <i class="icon icon-emoji"></i>
                        </button>-->
                        <div class="send-actions">
                            
                            <button id="sendMessageButton" class="button primary" ng-disabled="!selectedConversation.description.length || selectedConversation.blocked" 
                                    ng-click="sendMessage(selectedConversation.conversation_id, emojiMessage.messagetext)" >Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>