<div class="user-section-title">
    <div class="container">
        <h2>Report spam or abuse</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        
        <div class="right-col">
            <div class="content-block " >
               
              
                <div class="content-block-content">
                    <form >
                        <div class="control-group ">

                            <div class="control full" >
                                <input type="text" placeholder="Your name">
                            </div>
                             <div class="control full" >
                                <input type="email" placeholder="Your email">
                            </div>
                             <div class="control full" >
                                <input type="text" placeholder="Subject">
                            </div>
                            <div class="control full" >
                                <textarea placeholder="What would you like to report?" id="" cols="30" rows="7"></textarea>
                            </div>

                             <div class="control full" >
                                <button class="button" >Send report</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="left-col">
            <div class="content-block ">
               
                <div class="content-block-content">
                  
                   <p>If you come across any spam or abusive behaviour please let us know immediately.</p>
                   
                    
                </div>
            </div>

        </div>
    </div>
</div>