<div class="user-section-title">
    <div class="container">
        <h2>Settings</h2>
    </div>
</div>


<div id="messages">
    <div class="container">
        <div class="left-col">
            <div class="content-block no-margin " >
                <ul class="sub-section-nav">
                    <li class="sub-section-nav-item">
                        <a href ng-click="setSection('password')" class="sub-section-nav-link" ng-class="{active : currentSection=='password'}">Change Password</a>
                    </li>
                    <li class="sub-section-nav-item">
                        <a href ng-click="setSection('locations')" class="sub-section-nav-link"  ng-class="{active : currentSection=='locations'}">Shared Locations</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-col">
            <div class="content-block " ng-show="currentSection=='password'" >

                <div class="content-block-title">
                    Change Password
                </div>
                <div class="content-block-content">
                   <div class="help-text">
                       <p>Passwords should be between 6 and 12 characters long.</p>
                   </div>
                    <form novalidate name="passwordForm" >
                        <div class="control-group ">

                            <div class="control full" >
                                <input type="password" ng-model="oldPassword" placeholder="Old Password" ng-minlength="6" ng-maxlength="12" required>
                            </div>
                            <div class="control full" >
                                <input type="password" ng-model="newPassword" placeholder="New Password"  ng-minlength="6" ng-maxlength="12" required>
                            </div>
                            <div class="control full" >
                                <input type="password" ng-model="newPasswordConfirm" placeholder="Confirm New Password"  ng-minlength="6" ng-maxlength="12" required>
                            </div>


                            

                        </div>
                    </form>
                   
                </div>
                <div class="content-block-actions">
                    <div class="actions-messages">
                        <span>{{formStatus}}</span>
                    </div>
                    <button class="button" ng-click="updatePassword(oldPassword, newPassword, newPasswordConfirm)" >Update Password</button>
                    
                </div>
            </div>
            <div class="content-block " ng-show="currentSection=='locations'" >

                <div class="content-block-title">
                    Shared Locations
                </div>
                <div class="content-block-content">
                 <div class="help-text">
                       <p>These are your shared locations. These locations can be used to recommend you people that is near you.</p>
                   </div>
                 <div  ng-if="sharedLocations.length == 0">
                    No locations saved.
                 </div>
                  <div class="shared-location-item" ng-repeat="location in sharedLocations" ng-if="sharedLocations.length">
                       
                       <div class="shared-location-name">
                           <i class="fa fa-location-arrow"></i> {{location.desc}} |  {{location.time | date:'short'}}
                       </div>
                   
                       <div class="shared-location-action">
                          
                           <a href ng-click="removeSharedLocation(location)"> <i class="fa fa-trash-o"></i> Delete</a>
                       </div>
                  </div>
                   
                </div>
                <div class="content-block-actions">
                    
                    <button class="button" ng-click="clearSharedLocations()" ng-disabled="sharedLocations.length == 0" >Clear all locations</button>
                    
                </div>
            </div>
        </div>
    </div>

</div>
